<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a web application developed with Ruby on Rails.
It consists of a full rails authentication using sessions and cookies. Users can post and follow other users.
COMPLETED :
<ul>
<li>Sign up</li>
<li>Sessions, Logging in, Logging out, Remember me</li>
<li>Updating profile</li>
<li>Showing all Users</li>
<li>Authorization, Deleting Users</li>
<li>Account Activation, Password Reset, Sending Emails</li>
<li>User's posts</li>
<li>Following other Users</li>
</ul>
</p>
