<% provide(:title, "All Users")%>
<h1> All Users </h1>

<!--%= will_paginate %-->
<%= paginate @users %>
<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= gravatar_for user, size: 50 %>
			<%= link_to user.name, user %>
			<% if current_user.admin? && !current_user?(user)%>
			 | <%= link_to "Delete", user, method: :delete, data:{ confirm: "Are you sure?" }%>
			<% end %>
		</li>
	<% end %>
</ul>
<%= paginate @users %>
<!--%= will_paginate %-->