// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.log-in-row {
  background-color: #eeeeee;
  box-shadow: 10px 10px 58px -21px rgba(0, 0, 0, 0.75);
  width: 70%;
  margin: 0 auto;
  padding: 30px 10px;
}
